[
  {
    "ip": "127.0.0.1:6100",
    "name": "Server 1",
    "webhook": "https://discordapp.com/api/webhooks/556067789635584000/stuffs",
    "status_channel_id": 1234567891234567
  },
  {
    "ip": "127.0.0.1:6101",
    "name": "Server 2",
    "webhook": "https://discordapp.com/api/webhooks/556067789635584000/stuffs2",
    "status_channel_id": 1234567891234567
  },
  {
    "ip": "127.0.0.1:6102",
    "name": "Server 3",
    "webhook": "https://discordapp.com/api/webhooks/556067789635584000/stuffs3",
    "status_channel_id": 1234567891234567
  }
]